<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="nav">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" th:onclick="|location.href='@{/}'|">좌석예약</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <div class="btn-group">
              <a class="nav-link" th:href="@{/}">프로그램</a>
              <a role="button" class="nav-link dropdown-toggle dropdown-toggle-split" id="navbarDropdownProgram" data-bs-toggle="dropdown" aria-expanded="false"></a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownProgram">
                <li><a class="dropdown-item" th:href="@{/}">전체</a></li>
                <li><a class="dropdown-item" th:href="@{/online}">온라인</a></li>
                <li><a class="dropdown-item" th:href="@{/offline}">오프라인</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:onclick="|location.href='@{/business/program}'|">프로그램 관리</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li th:if="${#strings.isEmpty(session.loginMember)}" class="nav-item">
            <a class="nav-link" th:onclick="|location.href='@{/login}'|">로그인</a>
          </li>
          <li th:unless="${#strings.isEmpty(session.loginMember)} and ${#strings.isEmpty(name)}" class="nav-item">
            <p th:text="${session.loginMember.name + '님'}" />
          </li>

          <li th:if="${#strings.isEmpty(session.loginMember)}" class="nav-item">
            <a class="nav-link" th:onclick="|location.href='@{/join}'|">회원가입</a>
          </li>
          <li th:unless="${#strings.isEmpty(session.loginMember)}" class="nav-item">
            <a class="nav-link" th:onclick="|location.href='@{/logout}'|">로그아웃</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              마이페이지
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">예약내역</a></li>
              <li><a class="dropdown-item" href="#">정보수정</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
</html>