<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 400px">
    <form th:action method="post" onsubmit="phoneNumber()">
        <div>
            <label for="userId" class="form-label">아이디</label>
            <input class="form-control" type="text" id="userId" name="userId">
        </div>
        <div>
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div>
            <label for="name" class="form-label">기업(기관)명</label>
            <input class="form-control" type="text" id="name" name="name">
        </div>
        <div>
            <label for="address" class="form-label">기업(기관)주소</label>
            <input  class="form-control" type="text" id="address" name="address">
        </div>
        <div>
            <label for="phone1" class="form-label">전화번호</label>
            <div class="input-group mb-3">
                <input class="form-control" type="text" id="phone1" oninput="checkNumber(id)">
                <span class="input-group-text">-</span>
                <input class="form-control" type="text" id="phone2" oninput="checkNumber(id)">
                <span class="input-group-text">-</span>
                <input class="form-control" type="text" id="phone3" oninput="checkNumber(id)">
            </div>
            <input type="hidden" id="phone" name="phone">
        </div>
        <button type="submit" class="btn btn-success">가입하기</button>
    </form>
</div>
<script>
    function phoneNumber() {
        let phone1 = document.getElementById("phone1").value;
        let phone2 = document.getElementById("phone2").value;
        let phone3 = document.getElementById("phone3").value;
        let phone = document.getElementById("phone");

        phone.value = phone1 + "-" + phone2 + "-" + phone3;
    }
    function checkNumber(id) {
        let id1 = document.getElementById(id);
        const regex = /\D/g;
        id1.value = id1.value.replace(regex, "");
    }
</script>
</body>
</html>