<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 400px">
    <button type="button" class="btn btn-outline-success">개인</button>
    <button type="button" class="btn btn-outline-success">기업/기관</button>
    <form th:action method="post" onsubmit="userEnterData()">
        <div>
            <label for="userId" class="form-label">아이디</label>
            <input class="form-control" type="text" id="userId" name="userId">
        </div>
        <div>
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div>
            <label for="name" class="form-label">기업(기관)명</label>
            <input class="form-control" type="text" id="name" name="name">
        </div>
        <div>
            <label for="address" class="form-label">기업(기관)주소</label>
            <input type="button" class="btn-success" id="searchAddr" value="주소 검색" onclick="findAddress()">
            <input type="text" class="form-control" id="address" readonly placeholder="주소">
            <input type="text" class="form-control" id="detailAddress" placeholder="상세주소">
            <input type="hidden" id="fullAddress" name="address">
        </div>
        <div>
            <label for="phone1" class="form-label">전화번호</label>
            <div class="input-group mb-3">
                <input class="form-control" type="text" id="phone1" oninput="checkNumber(id)">
                <span class="input-group-text">-</span>
                <input class="form-control" type="text" id="phone2" oninput="checkNumber(id)">
                <span class="input-group-text">-</span>
                <input class="form-control" type="text" id="phone3" oninput="checkNumber(id)">
            </div>
            <input type="hidden" id="phone" name="phone">
            </div>
            <div>
                <label for="email1" class="form-label">이메일</label>
                <div class="input-group mb-3">
                    <input class="form-control" type="text" id="email1">
                    <span class="input-group-text">@</span>
                    <input class="form-control" type="text" id="email2">
                </div>
                <input type="hidden" id="email" name="email">
                <a class="btn btn-primary" id="check" onclick="sendEmail()">인증하기</a>
                <p id="sendEmailMessage"></p>
            </div>
            <button type="submit" class="btn btn-success">가입하기</button>
    </form>


    <div class="modal fade" id="enterNumberModal" tabindex="-1" aria-labelledby="enterNumberModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="enterNumberModalLabel">이메일 인증</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input class="form-control" type="text" id="enterNum" placeholder="인증번호 입력" oninput="checkNumber(id)">
                    <button type="button" onclick="checkAuthNum()">확인</button>
                    <p id="checkResult"></p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script>
    let num;
    function findAddress() {
        new daum.Postcode({
            oncomplete: function(data) {
                let extraAddr = '';
                if(data.bname !== '')
                    extraAddr += data.bname;
                if(data.buildingName !== '')
                    extraAddr += (extraAddr !== ''? ', ' + data.buildingName : data.buildingName)
                if(extraAddr !== '')
                    extraAddr = ' (' + extraAddr + ')';
                document.getElementById("address").value = data.roadAddress + extraAddr;
                document.getElementById("detailAddress").focus();
            }
        }).open();
    }
    function userEnterData() {
        let phone1 = document.getElementById("phone1").value;
        let phone2 = document.getElementById("phone2").value;
        let phone3 = document.getElementById("phone3").value;
        let phone = document.getElementById("phone");

        phone.value = phone1 + "-" + phone2 + "-" + phone3;

        if(document.getElementById("detailAddress").value !== "")
            document.getElementById("fullAddress").value = document.getElementById("address").value + ', ' + document.getElementById("detailAddress").value;
        else
            document.getElementById("fullAddress").value = document.getElementById("address").value;

        document.getElementById("email").value = document.getElementById("email1").value + '@' + document.getElementById("email2").value;
    }
    function checkNumber(id) {
        let id1 = document.getElementById(id);
        const regex = /\D/g;
        id1.value = id1.value.replace(regex, "");
    }
    function sendEmail() {
        let email = document.getElementById("email1").value + '@' + document.getElementById("email2").value;
        document.getElementById("sendEmailMessage").innerText = "이메일을 전송했습니다.";

        fetch(`/join/email`, {
            method: "post",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                "userEmail": email
            })
        }).then((r) => {
            return r.json();
        }).then((r) => {
            num = JSON.parse(r);
            document.getElementById("sendEmailMessage").innerText = "";
            $('#enterNumberModal').modal('show');
            document.getElementById("checkResult").innerText = "";
        })
    }
    function checkAuthNum() {
        let en = document.getElementById("enterNum");
        let re = document.getElementById("checkResult");

        if(num == en.value) {
            document.getElementById("email1").readOnly = true;
            document.getElementById("email2").readOnly = true;
            document.getElementById("check").style.display = "none";
            $('#enterNumberModal').modal('hide');
        }
        else {
            re.innerText = "인증번호가 올바르지 않습니다.";
            en.value = "";
        }
    }
</script>
</body>
</html>