<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>예약 현황</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 800px">
    <button>상태 일괄 변경</button>
    <table class="table" id="tb">
        <thead>
        <tr>
            <th></th>
            <th>예약번호</th>
            <th>신청일</th>
            <th>이름</th>
            <th>생년월일</th>
            <th>전화번호</th>
            <th>좌석</th>
            <th>신청서</th>
            <th>상태</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="checkbox"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button>보기</button></td>
            <td class="dropdown">
                <select id="selectStatus" onchange="showModal(this)">
                    <option value="0">예정</option>
                    <option value="1">참가</option>
                    <option value="2">불참</option>
                    <option value="3">취소</option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="modal" id="cancelModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>취소</h5>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="bookingNum" name="bookingNum">
                    <input type="hidden" name="status" value="C">
                    <div class="form-floating">
                        <textarea class="form-control" name="reason" id="reason" placeholder="취소 사유를 입력해주세요." style="height: 100px"></textarea>
                        <label for="reason">취소 사유를 입력해주세요.</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button">변경하기</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    function showModal(e) {
        let rowIndex = e.parentNode.parentNode.rowIndex;
        const tableId = document.getElementById("tb");
        if(e.value === "3") {
            document.getElementById("bookingNum").value = tableId.rows[rowIndex].cells[1].innerHTML;
            $('#cancelModal').modal('show');
        }
    }
</script>
</body>
</html>
