<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/layout/head.html :: header"></div>
    <link th:href="@{/css/addUser.css}" href="../css/addUser.css" rel="stylesheet">
    <title>회원가입</title>
</head>
<body>
<div class="container" style="max-width: 400px">
    <h3 id="text">회원가입</h3>
    <row>
        <button type="button" id="user" class="userBtn" onclick="changeText(id)">개인</button>
        <button type="button" id="biz" class="userBtn" onclick="changeText(id)">기업</button>
    </row>
    <form th:action method="post" onsubmit="userEnterData()">
        <div>
            <label for="userId" class="form-label">아이디</label>
            <div class="input-group" id="idDiv">
                <input class="form-control" type="text" id="userId" name="userId">
                <a class="btn text-white" onclick="checkId()" id="checkIdBtn">중복확인</a>
            </div>
            <p id="idMessage" style="color: #c00000"></p>
        </div>
        <div>
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div>
            <label id="n" for="name" class="form-label">이름</label>
            <input class="form-control" type="text" id="name" name="name">
        </div>
        <div>
            <label id="a" for="address" class="form-label">주소</label>
            <div class="input-group">
                <input type="text" class="form-control" id="address" readonly placeholder="주소">
                <a class="btn text-white" id="searchAddr" onclick="findAddress()">주소찾기</a>
            </div>
            <input type="text" class="form-control" id="detailAddress" placeholder="상세주소">
            <input type="hidden" id="fullAddress" name="address">
        </div>
        <div>
            <label id="p" for="phone1" class="form-label">휴대폰번호</label>
            <div class="input-group mb-3">
                <input class="form-control" type="text" id="phone1" oninput="checkNumber(id)">
                <span class="input-group-text">-</span>
                <input class="form-control" type="text" id="phone2" oninput="checkNumber(id)">
                <span class="input-group-text">-</span>
                <input class="form-control" type="text" id="phone3" oninput="checkNumber(id)">
            </div>
            <input type="hidden" id="phone" name="phone">
        </div>
        <div>
            <label for="email1" class="form-label">이메일</label>
            <div class="input-group">
                <input class="form-control" type="text" id="email1">
                <span class="input-group-text">@</span>
                <input class="form-control" type="text" id="email2">
                <input type="hidden" id="email" name="email">
                <a class="btn text-white" id="check" onclick="sendEmail()">인증하기</a>
            </div>
            <p id="sendEmailMessage"></p>
        </div>
        <input type="hidden" id="role" name="role" value="user">
        <button type="submit" class="btn text-white" style="width: 376px; height: 50px;">가입하기</button>
    </form>

    <div class="modal fade" id="enterNumberModal" tabindex="-1" aria-labelledby="enterNumberModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="enterNumberModalLabel">이메일 인증</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <input class="form-control" type="text" id="enterNum" placeholder="인증번호 입력" oninput="checkNumber(id)">
                        <button type="button" class="btn text-white" onclick="checkAuthNum()">확인</button>
                    </div>
                    <p id="checkResult"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn text-white" data-bs-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/addUser.js"></script>
</body>
</html>