<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 400px">
  <form th:action method="post">
    <div>
      <input type="text" class="form-control" id="userId" name="username" placeholder="아이디">
    </div>
    <div>
      <input type="password" class="form-control" name="password" placeholder="비밀번호">
    </div>
    <button type="submit" class="btn btn-success">로그인</button>
    <button type="button" class="btn" th:onclick="|location.href='@{/join}'|">회원가입</button>
  </form>
</div>
</body>
</html>