button {
    border: none;
}
.btn {
    background-color: #617A55;
    border: none;
    font-weight: bolder;
}
.btn:hover {
    background-color: #4b5e42 !important;
    border: none;
}
h4 {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    color: #4e6145;
    font-weight: bolder;
        display: none;
}
.dInput {
    margin-bottom: 1rem;
}
label {
    margin-bottom: 3px !important;
    font-weight: 550!important;
}
input:read-only {
    background-color: #e9ecef;
    border-color: #e9ecef;
}
.input-group-text {
    height: 38px;
}
.input-group a {
    height: 38px;
}
.errorInput {
    border-color: #c00000 !important;
}
.errorText {
    color: #c00000;
}
#useIdBtn {
    font-size: 0.75rem;
    margin-left: 0.4rem;
    padding: 0.2rem 0.6rem;
    margin-top: 2px;
    background-color: #FCD588!important;
    display: inline-block;
    height: 1.3rem;
}
#btnDiv {
    width: 100%;
    height: 60px;
    margin-top: 10px;
}
#btnDiv button {
    float: left;
    width: 50%;
    height: 100%;
    font-size: 20px;
    font-weight: bolder;
    border-bottom: solid #617A55 1px;
}
.activeUserTypeBtn {
    border: solid #617A55 1px;
    border-bottom: none !important;
    background-color: white !important;
}
#formDiv {
    padding: 30px;
    border: solid #617A55 1px;
    border-top: none;
}
.logo {
    text-align: center;
    margin: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
img {
    width: 70px;
}
.container {
    margin-bottom: 20px;
}
i{
    margin-right: 0.5rem;
}
#joinSite{
    width: 100%;
    height: 3rem!important;
    margin-top: 1rem;
    font-size: 1.2rem;
}