.logo {
    text-align: center;
    margin: 20px;
    margin-top: 6rem;
    margin-bottom: 4rem;
}
img {
    width: 70px;
}
form input{
    margin-bottom: 10px;
    height: 40px;
}
form button {
    width: 100%;
    background-color: #617A55;
    padding: 8px 12px;
    font-weight: bolder;
    color: white;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
}
form button:hover{
    background-color: #4e6145;
}
button {
    float: right;
    border: none;
    background-color: white;
    padding: 0;
    margin-top: 3px;
}
.errorInput {
    border-color: #c00000 !important;
}
#eDiv {
    color: #c00000;
    margin-bottom: 3px;
}

.form-control{
    height: 2.8rem;
}
.form-control:focus, .form-control:focus-visible{
    border-color: #363636!important;
    box-shadow: none;
}
.rounded-2{
    height: 3.2rem;
    margin-top: 0.5rem;
    font-size: 1.1rem;
}
button[type=button]{
    margin-top: 1rem;
    color: #363636;
}