.searchDiv {
    height: 30px;
}
#enterKeyword {
    height: 100%;
}
#searchBtn {
    width: 30px !important;
    height: 30px !important;
    background-size: cover;
    border: solid 1px #c9c9c9;
    background-color: #ffffff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.navbar-brand img {
    width: 35px;
}
.nav-item .dropdown-menu {
    min-width: inherit;
}