.imgDiv {
    position: relative;
    padding-right: 0;
    padding-left: 0;
}
.imgBadge {
    position: absolute;
    top: 10px;
    right: 10px;
}
.noImg {
    width: 100%;
    height: 300px;
    background-color: #a2a2a2;
    text-align: center;
}
p {
    margin-bottom: 0;
}
.pDiv {
    display: inline-block;
    width: 250px;
    height: 400px;
}
.textDiv {
    margin-top: 3px;
    padding: 0;
}
.menu {
    text-align: center;
}
.menu div {
    width: 100px;
    height: 100%;
    padding: 5px;
    text-align: center;
    margin-right: 10px;
    display: inline-block;
}
.menu h6 {
    font-weight: bolder;
    margin: 0;
    padding: 5px;
}
.menu h6:hover {
    color: #618264;
}
.rounded-pill {
    border: solid rgba(0, 0, 0, 0.12) 1px !important;
    color: #618264;
}

.ar {
    height: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.arDiv {
    width: 130px;
    height: 100%;
    float: left;
    padding: 5px;
    text-align: center;
    margin-right: 10px;
}

#areaSelect {
    width: 200px;
    height: 35px;
    float: right;
    margin-right: 10px;
}
.activeDiv {
    border-bottom: solid #618264 5px;
}

.textDiv span {
    font-size: 14px;
}
.aroundAllDiv {
    height: 420px;
}
.noImg i {
    color: white;
    font-size: 3rem;
    line-height: 300px;
}
