button[type="button"] {
    border: none;
}
span {
    font-size: 12px;
}
#seatingChart {
    display: flex;
    justify-content: center;
}
#stage {
    height: 40px;
    background-color: #e5e5e5;
    margin-top: 20px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
}
.seatBtn {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin: 2px;
    text-align: center;
    font-size: 11px;
    color: black;
    border: none;
    padding: 2px;
}
#chart {
    margin-top: 15px;
}