body{
    background-color: #f7f7f7 !important;
}
.container div:not(.viewingList, .note-btn-group, .note-editing-area, .note-editable, .note-handle,.note-statusbar, .note-resizebar,.note-modal-header
                                    , .note-modal-body,.form-group.note-form-group.note-group-select-from-files,.form-group.note-group-image-url,.note-modal-footer){
    margin-top: 1.8rem;
}
form{
    max-width: 900px;
    min-width: 900px;
    background-color: white;
    padding: 2rem 5rem;
    border: solid 1px #d9d9d9;
    border-radius: 16px;
    min-height: 820px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
label{
    padding-right: 0.5rem;
    width: 9rem;
}
#viewDateTime{
margin-left: 9.3rem;
margin-top: 0.9rem;
}
.viewingList{
margin-top: 0.5rem;
}
input[type=text]:not(#enterKeyword,.note-image-url.form-control.note-form-control.note-input){
    border-radius: 0.375rem;
    line-height: 1.5rem;
    padding: 0.375rem .75rem;
    width: 35.5rem;
    border: 1px solid;
    border-color: #3535354d;
}

input[id*='input']{
    border: none;
    font-size: 0.9rem;
    width: 8rem;
}

#address{
        min-width: 18.7rem;
        max-width: 16rem;
        width: auto!important;
}
#detailAddress{
    min-width: 5rem;
    max-width: 10rem;
}
#offlineCheck, #onlineCheck{
    padding-right: 0.2rem;
    width: 5rem;
    cursor: pointer;
}
#peopleNumLabel{
    width: auto;
    padding: 0 0.18rem 0 0;
}
#peopleChBox{
    margin: 0 0.3rem 0 0;
    cursor: pointer;
    accent-color:#157347;
}

#drop, #startDate, #endDate, #area1, #area2{
    width: 9rem;
    border-radius: 0.375rem;
    line-height: 1.5rem;
    padding: 0.375rem .75rem;
    border: 1px solid;
    border-color: #3535354d;
}
#drop:focus-visible{
    outline: none;
}
#area1, #area2, #etcDetail{
    display:inline!important;
}
#area1{
width: 12rem!important;
}
#etcDetail{
width: 26.2rem!important;
}
#viewing{
    width: 13.5rem;
    border-radius: 0.375rem;
    line-height: 1.5rem;
    padding: 0.375rem .75rem;
    border: 1px solid;
    border-color: #3535354d;
}
#contents{
    margin-left: 9.3rem;
    width: 25rem;
    padding: 1rem;
}
#contents:focus {outline: none;}
#peopleNum{
  max-width: 3.4rem;
  padding: 0 0.3rem;
  border: 1px solid;
  border-radius: 0.15rem;
}
#peopleNum:disabled {
              cursor: default;
              background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));
              color: -internal-light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
              border-color: rgba(118, 118, 118, 0.3);
}

#isSeatColSelect, #isNotSeatColSelect, #deleteChart{
    margin-left: 2.8rem!important;
        width: 6.8rem;
        border: solid 1px #e9ecef!important;
        color: #353535!important;
        background-color: #e9ecef!important;
       &:hover{
                    color:#353535!important;
                    border-color: #e9ecef!important;
                    background-color: #f3f8ff!important;
                    transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
                    opacity: 1;
           }
}
#deleteChart{
    margin-left: 0.2rem!important;
}

input:focus {outline: none;}
.custom-file-label{width:auto;}
.custom-file{display: inline;}

input[type=button], button[type=button]:not(.navbar-toggler, .note-btn-group>button, .close, #file-upload-button, .btn.btn-primary.note-btn.note-btn-primarynote-image-btn
, #searchBtn, #deleteAllFile){
    border: solid 1px #0f0f0f;
    font-weight: bold;
    color: #0f0f0fb5;
    padding: 0.25rem 0.8rem 0.185rem;
    border-radius: 0.375rem;
    background-color: #f2f2f2;
    font-size: 0.9rem;
    height: 2.3rem;
    letter-spacing: 2px;

    &:hover{
        color:#0d6efd;
            border-color: #0d6efd;
            background-color: #f3f8ff;
            transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
            opacity: 1;
   }
}

#viewTime{
    margin-left: 0.2rem;
        border: solid 1px #617A55!important;
        border-radius: 0.25rem;
        color: white!important;
        border-radius: 0.375rem;
        line-height: 1.5rem;
        padding: 0.375rem .75rem!important;
        border: 1px solid!important;
        background-color: #617A55!important;
    &:hover{
                color:#617A55!important;
                border-color: #617A55!important;
                background-color: #f2f5ed!important;
                transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
                opacity: 1;
       }
}
input[id*='input_']{
    width: 10.3rem!important;
    margin-right: .5rem!important;
}
button[id*='button_']{
    width: 2rem!important;
    pointer: cursor;
    padding: 0.1rem 0.2rem!important;
    font-weight: 400!important;
&:hover{
        color: black!important;
        background-color: #f2f2f2!important;
        border-color: black!important;
   }
&:disabled{
    background-color: #f2f2f2!important;
    pointer-events: none!important;
    color: #d1d1d1!important;
}
}
input[type=file]:not(.note-image-input.form-control-file.note-form-control.note-input){
    width: 250px;
}
input[type=file]::file-selector-button {
  padding: 0.3rem 0.9rem;
      border-radius: 0.3rem;
      color: #617A55;
      font-weight: bold;
      font-size: 0.85rem;
      letter-spacing: 2px;
      text-decoration: none;
    background-color : white;
    border: 1px solid #617A55;
    cursor: pointer;
    transition: 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
    margin-right: 1rem;
}
input[type=file]:hover::file-selector-button {
    transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    color: white;
    background-color: #617A55;
    background-position: 99% 50%;
}
.normalLabel{
font-weight: 550;
line-height: 1.5rem;
}

input[type=radio]{
    cursor: pointer;
    accent-color: #0d6efd;
}
#deleteAllFile{
    padding: 0.3rem 0.9rem!important;
    border-radius: 0.3rem!important;
    color: #617A55!important;
    font-weight: bold!important;
    font-size: 0.85rem!important;
    letter-spacing: 2px!important;
    text-decoration: none!important;
  background-color : white!important;
  border: 1px solid #617A55!important;
  transition: 700ms cubic-bezier(0.165, 0.84, 0.44, 1)!important;
  margin-left: 9.34rem!important;

  &:hover{
    transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
      color: white!important;
      background-color: #617A55!important;
      background-position: 99% 50%!important;
  }
}
#origImg {
    width: 400px;
    margin-left: 10rem;
}
.fileAddDiv{
    width: 400px;
    margin-left: 9.34rem;
}
img{
    max-width: 400px;
    width: auto;
    object-fit: contain;
    margin: auto;
}
.album{
  display: flex;
  width: 400px;
  overflow: hidden;
  margin: auto;
  margin-right: 9.9rem;
  margin-bottom: 10px;
}
#image_container, #origImage_container {
  position: relative;
  display: flex;
}
.prev, .prevOrig {
  float: left;
}
.next, .nextOrig{
  float: right;
}
.previousOrig, .nextOrig, .previous, .next {
    cursor: pointer !important;
    height: 2.2rem;
    width: 48% !important;
    color: #157347 !important;
    background-color: white !important;
    border-color: #157347 !important;
    &:hover{
        transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1) !important;
          color: white !important;
          background-color: #157347 !important;
          background-position: 99% 50% !important;
      }
}

/* Shikoba */
.button.button--shikoba {
    position: relative;
    margin: 3rem 0 1rem 0;
    padding: 1em 30px 1em 50px;
    overflow: hidden;
    color: white;
    border: solid 1px;
    border-radius: 0.4rem;
    width: 100%;
    height: 6rem;
    background-image: linear-gradient(to right, #617A55, #49725B,#36695F,#2B5F61, #2A535F, #454555 );
    background-size: 300% 100%;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}
.button--shikoba > span {
  display: inline-block;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--shikoba:hover {
  background-position: 100% 0 !important;
  moz-transition: all 0.5s ease-in-out !important;
  -o-transition: all 0.5s ease-in-out !important;
  -webkit-transition: all 0.5s ease-in-out !important;
  transition: all 0.5s ease-in-out !important;
 }
 .button--shikoba:hover > span {
   transition: transform 1.2s;
   transform: translateX(17rem);
 }

.note-toolbar{
    margin: 0 auto!important;
    padding-bottom: 6px!important;
    padding-right: 10px!important;
    padding-left: 18px!important;
}
.note-editable{
    min-height: 100px;
}

.note-modal-footer{
    margin-bottom: 1rem;
}

#text1{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    color: white;
    font-size: 15rem;
    font-weight: 900;
    line-height: 14rem;
    padding-left: 1rem;
}
hr{
    margin-top: 2rem!important;
}
#all{
    margin: 3rem auto;
    width: 900px;
}

#searchAddr{
    color: white;
    border-color: #0d6efd;
    line-height: 1.5rem;
    background-color: #3d80e3;
    padding: 0.375rem .75rem;
    border-radius: 0.375rem;
}
#targetDetail{
    width: 5rem;
    line-height: 1.5rem;
    padding: 0.375rem .75rem;
    border-radius: 0.375rem;
    border-color: #3535354d;
}
input[id*='button_']{
  color: #617A55;
    border-color: #617A55;
    background-color: white;
    &:hover{
        color: #4e6145!important;
        border-color: #617A55!important;
        background-color: white!important;
    }
    &:disabled{
         background-color: #fafafa;
         color: #545454;
         border-color: #bebebe;
    }
}