body{
    background-color: rgb(249 249 249) !important;
}
.container div{
    margin-top: 1.8rem;
}
form{
    max-width: 770px;
    min-width: 770px;
    margin: 1rem auto;
    background-color: white;
    padding: 30px;
    border: solid 1px #d9d9d9;
    border-radius: 0.25rem;
    min-height: 820px;
}
label{
    padding-right: 0.5rem;
    width: 9rem;
}
#address{
    min-width: 18rem;
    max-width: 18rem;
    width: auto;
}
#detailAddress{
    min-width: 5rem;
    max-width: 10rem;
    width: auto;
}
#offlineCheck, #onlineCheck{
    padding-right: 0.2rem;
    width: 5rem;
    cursor: pointer;
}
#peopleNumLabel{
    width: auto;
    padding: 0 0.18rem 0 0;
}
#peopleChBox{
    margin: 0 0.3rem 0 0;
    cursor: pointer;
    accent-color:#157347;
}

#drop, #startDate, #endDate{
    width: 8rem;
    height: 1.7rem;
    line-height: 1.7rem;
}
#peopleNum{
  max-width: 3.4rem;
  padding: 0 0.3rem;
}
#isSeatColSelect, #isNotSeatColSelect, #deleteChart{
    margin-left: 2rem;
    width: 6.8rem;
    border-radius: 2em;
}
#deleteChart{
    margin-left: 0.2rem;
}

input:focus {outline: none;}
.custom-file-label{width:auto;}
.custom-file{display: inline;}

input[type=button], button[type=button]:not(.navbar-toggler){
    border: solid 1px #0f0f0f;
    font-weight: bold;
    color: #0f0f0fb5;
    padding: 0.25rem 0.8rem 0.185rem;
    border-radius: 0.2rem;
    background-color: #f2f2f2;
    font-size: 0.9rem;
    letter-spacing: 2px;

    &:hover{
        transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
        color: white;
        background-color: #157347;
        background-position: 99% 50%;
        opacity: 1;
   }
}
input[type=file]{
    width: 250px;
}
input[type=file]::file-selector-button {
  padding: 0.3rem 0.9rem;
      border-radius: 0.3rem;
      color: #157347;
      font-weight: bold;
      font-size: 0.85rem;
      letter-spacing: 2px;
      text-decoration: none;
    background-color : white;
    border: 1px solid #157347;
    cursor: pointer;
    transition: 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
    margin-right: 1rem;
}
input[type=file]:hover::file-selector-button {
    transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    color: white;
    background-color: #157347;
    background-position: 99% 50%;
}
.normalLabel{
font-weight: 550;
}
#searchBtn {
    width: 35px;
    height: 35px;
    background-size: cover;
    border: solid 1px #c9c9c9;
    background-color: #ffffff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-position: 2px 2px;
    background-size: 90%;
}
input[type=radio]{
    cursor: pointer;
    accent-color:#157347;
}
#deleteAllFile{
    padding: 0.3rem 0.9rem;
    border-radius: 0.3rem;
    color: #157347;
    font-weight: bold;
    font-size: 0.85rem;
    letter-spacing: 2px;
    text-decoration: none;
  background-color : white;
  border: 1px solid #157347;
  transition: 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
  margin-left: 9.34rem;

  &:hover{
    transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
      color: white;
      background-color: #157347;
      background-position: 99% 50%;
  }
}
#origImg {
    width: 400px;
    margin-left: 9.34rem;
}
.fileAddDiv{
    width: 400px;
    margin-left: 9.34rem;
}
img{
    max-width: 400px;
    width: auto;
    object-fit: contain;
    margin: auto;
}
.album{
  display: flex;
  width: 400px;
  overflow: hidden;
  margin: auto;
  margin-right: 9.9rem;
  margin-bottom: 10px;
}
#image_container, #origImage_container {
  position: relative;
  display: flex;
}
.prev, .prevOrig {
  float: left;
}
.next, .nextOrig{
  float: right;
}
.previousOrig, .nextOrig, .previous, .next {
    cursor: pointer !important;
    height: 2.2rem;
    width: 48% !important;
    color: #157347 !important;
    background-color: white !important;
    border-color: #157347 !important;
    &:hover{
        transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1) !important;
          color: white !important;
          background-color: #157347 !important;
          background-position: 99% 50% !important;
      }
}

/* Shikoba */
.button.button--shikoba {
  position: relative;
  margin: 2rem 0 1rem 0;
  padding: 1em 30px 1em 50px;
  overflow: hidden;
  color: white;
  border: solid 1px;
  border-radius: 0.4rem;
  width: 44rem;
  height: 5rem;
  background-image: linear-gradient(to right, #6B9B7E, #4E937D, #008363, #006333);
  background-size: 300% 100%;
  -webkit-transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}
.button--shikoba > span {
  display: inline-block;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--shikoba:hover {
  background-position: 100% 0 !important;
  moz-transition: all 0.5s ease-in-out !important;
  -o-transition: all 0.5s ease-in-out !important;
  -webkit-transition: all 0.5s ease-in-out !important;
  transition: all 0.5s ease-in-out !important;
 }
 .button--shikoba:hover > span {
   transition: transform 1.2s;
   transform: translateX(17rem);
 }
