<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <form th:action method="post">
    <div>
      <label>구분</label>
      <input type="radio" id="offline" name="type" value="오프라인" checked onchange="showPlaceInput(0)">
      <label for="offline">오프라인</label>
      <input type="radio" id="online" name="type" value="온라인" onchange="showPlaceInput(1)">
      <label for="online">온라인</label>
    </div>
    <div>
      <label for="title">프로그램명</label>
      <input type="text" id="title" name="title">
    </div>
    <div>
      <label>장소</label>
      <div id="off">
        <input type="button" id="searchAddr" value="주소 검색" onclick="findAddress()">
        <input type="text" id="address" readonly placeholder="주소">
        <input type="text" id="detailAddress" onchange="placeValue()" placeholder="상세주소" value="">
        <input type="hidden" id="offPlace" name="place">
      </div>
      <div id="on" style="display: none">
        <input type="text" id="onPlace" name="place" value="온라인 관람" readonly disabled>
      </div>
    </div>
    <div>
      <label for="drop">신청대상</label>
      <select id="drop" name="target">
        <option value="제한없음" selected>제한없음</option>
        <option id="area" value="지역">지역</option>
      </select>
    </div>
    <div>
      <label for="startDate">신청기간</label>
      <input type="date" id="startDate" name="startDate"><b> ~ </b>
      <input type="date" id="endDate" name="endDate">
    </div>
    <div>
      <label for="viewing">관람일시</label>
      <input type="datetime-local" id="viewing">
      <input type="button" onclick="addViewing()" value="추가">
      <div id="viewingList" class="form-check"></div>
    </div>
    <button type="submit" class="btn btn-success">등록하기</button>
  </form>
</div>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
  let addr;
  function placeValue() {
    let detailAddr= document.getElementById("detailAddress").value;
    let val = '';

    val += (detailAddr !== ''? addr + ', ' + detailAddr : addr)

    document.getElementById("offPlace").value = val;
  }
  function findAddress() {
    new daum.Postcode({
      oncomplete: function(data) {
        let extraAddr = '';
        addr = '';
        if(data.bname !== '')
          extraAddr += data.bname;
        if(data.buildingName !== '')
          extraAddr += (extraAddr !== ''? ', ' + data.buildingName : data.buildingName)
        if(extraAddr !== '')
          extraAddr = ' (' + extraAddr + ')';
        document.getElementById("address").value = data.roadAddress + extraAddr;
        addr = data.roadAddress + extraAddr;
        placeValue(addr);
        document.getElementById("detailAddress").focus();
      }
    }).open();
  }
  function addViewing() {
    let viewing = document.getElementById("viewing").value;

    let check = document.createElement("input");
    check.className = "form-check-input"
    check.type = "checkbox";
    check.value = viewing;
    check.name = "viewingDateAndTime"
    check.checked = true;

    let label = document.createElement("label");
    label.className = "form-check-label";
    label.textContent = check.value;

    let viewingList = document.getElementById("viewingList");
    viewingList.appendChild(check);
    viewingList.appendChild(label);
    viewingList.appendChild(document.createElement("br"));
  }
  function showPlaceInput(type) {
    if(type) {
      document.getElementById("off").style.display = "none";
      document.getElementById("on").style.display = "block";
      document.getElementById("onPlace").disabled = false;
      document.getElementById("offPlace").disabled = true;
    }
    else {
      document.getElementById("off").style.display = "block";
      document.getElementById("on").style.display = "none";
      document.getElementById("onPlace").disabled = true;
      document.getElementById("offPlace").disabled = false;
    }
  }
  function showArea() {
    let getAddr = document.getElementById("address").value;
    let drop = document.getElementById("drop");
    let addr = '';
    let addr1 = '';
    let addr2 = '';
    let targetDrop = document.getElementById("targetDrop");

    targetDrop.innerHTML = '';
    targetDrop.style.display = "none";

    if(getAddr !== '') {
      if (drop.options[drop.selectedIndex].value !== "제한없음") {
        targetDrop.style.display = "block";

        let areaDrop = document.createElement("select");
        areaDrop.id = "areaDrop";
        targetDrop.appendChild(areaDrop);

        addr = getAddr.split(' ', 2);
        addr1 = addr[0];
        addr2 = addr[1];

        let op1 = document.createElement("option");
        op1.value = addr1;
        op1.text = addr1;
        op1.name = "target";
        areaDrop.appendChild(op1);

        if(addr2 !== '') {
          let op2 = document.createElement("option");
          op2.value = addr1 + addr2;
          op2.text = addr2;
          op2.name = "target";
          areaDrop.options.add(op2);
        }
      }
    }
    else {
      alert("주소를 입력해주세요");
      drop.options[0].selected = true;
    }
  }
</script>
</body>
</html>