<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 1000px">
    <p th:text="|구분 : ${programInfo.type}|"></p>
    <p th:text="|프로그램명 : ${programInfo.title}|"></p>
    <p th:text="|장소 : ${programInfo.place} |"></p>
    <p th:text="|대상 : ${programInfo.target}|"></p>
    <p th:text="|신청기간 : ${programInfo.startDate} ~ ${programInfo.endDate}|"></p>
    <button th:onclick="|location.href='@{/admin/program/info/update/{programNum}(programNum=${programInfo.programNum})}'|" type="button">수정</button>
    <button th:onclick="|location.href='@{/admin/program}'|" type="button">목록</button>
</div>
</body>
</html>