<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <form th:action method="post">
        <div>
            <label for="title">프로그램명</label>
            <input type="text" id="title" name="title" th:value="${programInfo.title}">
        </div>
        <div>
            <label for="place">장소</label>
            <input type="text" id="place" name="place" th:value="${programInfo.place}">
        </div>
        <div>
            <label for="target">신청대상</label>
            <input type="text" id="target" name="target" th:value="${programInfo.target}">
        </div>
        <div>
            <label for="startDate">신청 시작일</label>
            <input type="date" id="startDate" name="startDate" th:value="${programInfo.startDate}">
        </div>
        <div>
            <label for="endDate">신청 종료일</label>
            <input type="date" id="endDate" name="endDate" th:value="${programInfo.endDate}">
        </div>
        <button type="submit" class="btn btn-success">수정하기</button>
    </form>
</div>
</body>
</html>