<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <link th:href="@{/css/addProgram.css}" href="../css/addProgram.css?ver=1" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>
<div class="container" style="max-width: 500px">
  <form th:action method="post" enctype="multipart/form-data">
    <div>
      <label>구분</label>
      <input type="radio" id="offline" name="type" value="오프라인" checked onchange="showPlaceInput(0)">
      <label for="offline">오프라인</label>
      <input type="radio" id="online" name="type" value="온라인" onchange="showPlaceInput(1)">
      <label for="online">온라인</label>
    </div>
    <div>
      <label for="title">프로그램명</label>
      <input type="text" id="title" name="title">
    </div>
    <div>
      <label>장소</label>
      <div id="off">
        <input type="button" id="searchAddr" value="주소 검색" onclick="findAddress()">
        <input type="text" id="address" readonly placeholder="주소">
        <input type="text" id="detailAddress" onchange="placeValue()" placeholder="상세주소" value="">
        <input type="hidden" id="offPlace" name="place">
      </div>
      <div id="on" style="display: none">
        <input type="text" id="onPlace" name="place" value="온라인 관람" readonly disabled>
      </div>
    </div>
    <div>
      <label for="drop">신청대상</label>
      <select id="drop" name="target">
        <option value="제한없음" selected>제한없음</option>
        <option id="area" value="지역">지역</option>
      </select>
    </div>
    <div>
      <label for="startDate">신청기간</label>
      <input type="date" id="startDate" name="startDate"><b> ~ </b>
      <input type="date" id="endDate" name="endDate">
    </div>
    <div>
      <label for="viewing">관람일시</label>
      <input type="datetime-local" id="viewing">
      <input type="button" onclick="addViewing()" value="추가">
      <div id="viewingList" class="form-check"></div>
    </div>

    <div>
      <label for="inputFile"><strong>첨부 파일</strong></label>
      <div>
        <div class="custom-file" id="inputFile">
          <input multiple="multiple" name="file" type="file" class="custom-file-input" id="customFile"/>
          <label class="custom-file-label" for="customFile">파일을 선택해 주세요.</label>
        </div>
      </div>
    </div>

    <div style="max-width: 500px">
        <span>좌석 생성</span>
        <div class="input-group">
          <div class="form-floating">
            <input type="text" class="form-control" id="seatRow" placeholder="열 입력" oninput="checkNumber(id)">
            <label for="seatRow">열 입력</label>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control" id="seat" placeholder="한 줄 좌석수 입력" oninput="checkNumber(id)">
            <label for="seat">한 줄 좌석수 입력</label>
          </div>
          <input type="button" class="btn btn-primary" onclick="createSeatingChart()" value="생성">
        </div>
        <div>
          <div id="stage">stage</div>
          <div id="chart"></div>
        </div>
        <div>
          <p>제외 좌석</p>
          <div id="removedSeat"></div>
        </div>
    </div>

    <div id="content">
      <div class="sample">
        <button type="button" class="btn btn-change">
         <i class="bi bi-pencil-square"></i>
        </button>
        <button type="button" class="btn btn-delete">
          <i class="bi bi-trash3"></i>
        </button>
        <div>
          <span>항목 제목</span>
          <input type="text" class="sample1" placeholder="제목 입력">
        </div>
        <div>
          <span>항목 설명</span>
          <input type="text" class="sample1-1">
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-success">등록하기</button>
    <button type="button" class="btn btn-plus" onclick='addContent()'>항목추가</button>
  </form>
</div>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src="/js/addProgram.js"></script>
<script type="text/javascript" src="/js/addProgramContent.js?ver=3"></script>
</body>
</html>