<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/seatingChart.css}" href="../css/seatingChart.css" rel="stylesheet">
    <title>좌석배치도 생성</title>
</head>
<body>
<div style="max-width: 1000px">
    <p>좌석배치도</p>
    <div id="seatingChart" class="input-group" style="max-width: 500px">
        <div class="form-floating">
            <input type="text" class="form-control" id="seatRow" placeholder="열 입력" oninput="checkNumber(id)">
            <label for="seatRow">열 입력</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="seat" placeholder="한 줄 좌석수 입력" oninput="checkNumber(id)">
            <label for="seat">한 줄 좌석수 입력</label>
        </div>
        <input type="button" class="btn btn-primary" onclick="createSeatingChart()" value="생성">
    </div>
    <div>
        <div id="stage">stage</div>
        <div id="chart"></div>
    </div>
    </div>
    <div id="btn">
        <button type="button" onclick="window.close()">취소</button>
        <button type="button" onclick="saveSeatingChart()">추가</button>
    </div>
</div>
</body>
<script type="text/javascript" src="/js/seatingChart.js"></script>
</html>