<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: head(~{::link})">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>
<div class="container" style="max-width: 800px">
    <button th:onclick="|location.href='@{/business/program/add}'|" type="button">추가</button>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>프로그램명</th>
                <th>등록일</th>
                <th>신청상태</th>
                <th>상세정보</th>
                <th>예약현황</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${programs}">
                <td th:text="${item.title}">프로그램명</td>
                <td th:text="${#dates.format(item.createDate, 'yyyy-MM-dd HH:mm:ss')}">등록일</td>
                <td th:if="${#dates.createToday().before(item.startDate)}">예정</td>
                <td th:if="${#dates.createToday().after(item.endDate)}">마감</td>
                <td th:if="${#dates.createToday().compareTo(item.startDate) >= 0} and ${item.endDate.compareTo(#dates.createToday()) >= 0}">진행</td>
                <td><button th:onclick="|location.href='@{/program/{programNum}(programNum=${item.programNum})}'|" type="button">보기</button></td>
                <td><button th:onclick="|location.href='@{/business/program/{programNum}(programNum=${item.programNum})}'|" type="button">보기</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>