<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/seatingChart.css}" href="../css/seatingChart.css" rel="stylesheet">
</head>
<style>
    body{
        background-color: rgb(249, 249, 249);
    }
</style>
<body>
<div class="container" style="margin: 10px 0;">
    <h4>좌석 현황</h4>
    <div style="margin: 20px 0">
        <table class="table" style="margin: 0">
            <tr style="border-top: solid #d9d9d9 1px">
                <th style="width: 20%">프로그램명</th>
                <td th:text="${seats.title}"></td>
            </tr>
            <tr>
                <th>진행일시</th>
                <td th:text="|${seats.date} ${seats.time}|"></td>
            </tr>
        </table>
    </div>
    <div class="rounded-2" style="border: solid #d9d9d9 1px; padding: 20px; background-color: white">
        <div id="stage" style="margin: 0"></div>
        <div id="chart" class="container"></div>
    </div>
</div>

<script th:inline="javascript">
    addEventListener("load", createSeatingChart);
    function createSeatingChart() {
        const scDiv = document.getElementById("chart");
        let seatNum = 1;
        let ht = "";
        let num = 0;
        let sCol = [[${seats.seatCol}]];
        let bookingSeatList = [[${seats.bookingSeatList}]];
        let seatingChart = JSON.parse([[${seats.seatingChart}]]);

        for (let i = 0; i < seatingChart.length; i++) {
            if(num % sCol === 0) {
                ht += "<div class='row justify-content-center'>"
            }

            if(seatingChart[i]) {
                if(bookingSeatList.includes(seatNum))
                    ht += "<div class='seatBtn' style='background-color: #e5e5e5'></div>"
                else
                    ht += "<div class='seatBtn' style='background-color: #83A783'>" + seatNum + "</div>";
                seatNum++;
            }
            else {
                ht += "<div class='seatBtn' style='background-color: #ffffff'></div>"
            }

            num++;
            if(num % sCol === 0) {
                ht += "</div>"
            }
        }
        scDiv.innerHTML = ht;
    }
</script>
</body>
</html>