<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <form th:action method="post" enctype="multipart/form-data">
        <div>
            <label for="title">프로그램명</label>
            <input type="text" id="title" name="title" th:value="${programInfo.title}">
        </div>
        <div>
            <label for="place">장소</label>
            <input type="text" id="place" name="place" th:value="${programInfo.place}">
        </div>
        <div>
            <label for="target">신청대상</label>
            <input type="text" id="target" name="target" th:value="${programInfo.target}">
        </div>
        <div>
            <label for="startDate">신청 시작일</label>
            <input type="date" id="startDate" name="startDate" th:value="${programInfo.startDate}">
        </div>
        <div>
            <label for="endDate">신청 종료일</label>
            <input type="date" id="endDate" name="endDate" th:value="${programInfo.endDate}">
        </div>
        <div>
            <div>
                <label for="inputFile"><strong>첨부 파일</strong></label>
                <div>
                    <div class="custom-file" id="inputFile">
                        <input multiple="multiple" name="file" type="file" class="custom-file-input" id="customFile" onchange="displaySelectedImage(event)"/>
                        <label class="custom-file-label" for="customFile">파일을 선택해 주세요.</label>
                    </div>
                </div>
                <div id="image_container"></div>
            </div>
            <div id="origImg">
                <span th:if="${file.filename == 'NoInImage'}"><p>-</p></span>
                <span th:unless="${file.filename == 'NoInImage'}">
                <img th:each="im : ${fileList}" th:src="@{'/files/' + ${im.filename}}" width="200" alt="Selected Image"/>
                </span>
            </div>
        </div>
        <button type="submit" class="btn btn-success">수정하기</button>
    </form>
</div>
<script>
    function displaySelectedImage(event) {
        var changeImg = document.querySelector("div#image_container");
        changeImg.innerHTML = "";

        const origImg = document.querySelector("div#origImg");
        if(origImg.style.display='block'){
            origImg.style.display='none';
        }

        var reader;
        var lengthImg = event.target.files.length;
        for(let i=0; i<lengthImg; i++){
            reader = new FileReader();
            reader.onload = function(event) {
                var img = document.createElement("img");
                img.setAttribute("src", event.target.result);
                img.setAttribute("width", "200");
                document.querySelector("div#image_container").appendChild(img);
            };
            reader.readAsDataURL(event.target.files[i]);
        }
    }
</script>
</body>
</html>