<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/updateProgram.css}" href="../css/updateProgram.css?ver=1.1" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link th:href="@{/css/nav.css}" href="../css/nav.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/js/summernote/summernote-lite.js"></script>
    <script src="/js/summernote/lang/summernote-ko-KR.js"></script>
    <link th:href="@{/css/summernote/summernote-lite.css}" href="../css/summernote/summernote-lite.css" rel="stylesheet">
</head>
<body>
<div th:replace="/layout/nav.html :: nav"></div>
<div class="container" id="all">
    <form th:action method="post" enctype="multipart/form-data" id="updateForm">
        <div>
            <label class="normalLabel" for="title">프로그램명</label>
            <input type="text" id="title" name="title" th:value="${programInfo.title}">
        </div>
        <hr>
        <div>
            <label class="normalLabel">구분</label>
            <input type="radio" id="offline" name="type" value="offline" th:attr="bookCount=${bookingCount}" onchange="showPlaceInput(0, this.getAttribute('bookCount'))">
            <label id="offlineCheck" for="offline">오프라인</label>
            <input type="radio" id="online" name="type" value="online" th:attr="bookCount=${bookingCount}" onchange="showPlaceInput(1, this.getAttribute('bookCount'))">
            <label id="onlineCheck" for="online">온라인</label>
        </div>
        <hr>
        <div id="off">
            <label for="place" class="normalLabel">장소</label>
            <input type="button" id="searchAddr" value="주소 검색" onclick="findAddress()">
            <input type="text" id="address" readonly placeholder="주소">
            <input type="text" id="detailAddress" onchange="placeValue()" placeholder="상세주소" value="">
            <input type="hidden" id="place" name="place" th:value="${programInfo.place}">
        </div>
        <div id="on">
            <label for="place" class="normalLabel">장소</label>
            <input type="text" id="onPlace" name="place" value="온라인 관람" readonly disabled>
        </div>
        <div id="way">
            <label for="way" class="normalLabel">접속링크</label>
            <input type="text" name="way" id="inWay" th:value="${programInfo.way}">
        </div>
        <hr>
        <div>
            <label for="drop" class="normalLabel">신청대상</label>
            <select id="drop" name="target" th:attr="bookCount=${bookingCount}" onchange="showArea()">
                <option value="all" selected>제한없음</option>
                <option id="area" value="area">지역</option>
                <option value="etc">직접입력</option>
            </select>
            <div id="detail" style="display: inline;">

            </div>

        </div>
        <hr>
        <div>
            <label for="startDate" class="normalLabel">신청 시작일</label>
            <input type="date" id="startDate" name="startDate" th:value="${programInfo.startDate}">
        </div>
        <div>
            <label for="endDate" class="normalLabel">신청 종료일</label>
            <input type="date" id="endDate" name="endDate" th:value="${programInfo.endDate}">
        </div>
        <hr>
        <div>
            <label for="viewing" class="normalLabel">진행 일시</label>
            <input type="datetime-local" id="viewing">
            <input type="button" id="viewTime" onclick="addViewing()" value="추가">
            <div id="viewDateTime">
                <div class="viewingList" th:each="im, iterStat : ${viewTime}">
                    <input type="text" th:value="@{${im.viewingDate} +'T'+ ${im.viewingTime}}" name="viewingDateAndTime" th:id="'input_' + ${iterStat.index}">
                    <input type="button" th:id="'button_' + ${iterStat.index}" th:class="${iterStat.index}" onclick="deleteViewing(this)" value="X">
                </div>
            </div>
        </div>
        <hr>
        <div>
            <label for="endDate" class="normalLabel">모집 인원</label>
            <label id="peopleNumLabel"><input type="checkbox" id="peopleChBox" name="peopleNum" value=-1 onchange="peopleNumValue()">무제한</label>
            <input  type="text" id="peopleNum" name="peopleNum" th:value="${programInfo.peopleNum}" onchange="writeNum(-5)" />
            <button type="button" id="isSeatColSelect" onclick="openPopup()">좌석 수정</button>
            <button type="button" id="isNotSeatColSelect" onclick="openPopup()">좌석 추가</button>
            <button type="button" id="deleteChart" th:attr="bookCount=${bookingCount}"onclick="deleteSeatChart(this.getAttribute('bookCount'))">좌석 삭제</button>
            <div id="popupChart" class="container"></div>
            <input type="hidden" id="seatingChart" name="seatingChart" th:value="${programInfo.seatingChart}" />
            <input type="hidden" id="seatCol" name="seatCol" th:value="${programInfo.seatCol}" />

        </div>
        <hr>
        <div>
            <div id="fileAdd">
                <label for="inputFile" class="normalLabel">첨부 파일</label>
                <div style="display: inline;">
                    <div class="custom-file" id="inputFile">
                        <input multiple="multiple" name="file" type="file" class="custom-file-input" id="customFile" onchange="displaySelectedImage(event)"/>
                        <label class="custom-file-label" for="customFile">파일을 선택해 주세요.</label>
                    </div>
                    <div>
                        <button type="button" id="deleteAllFile" onclick="deleteAll()">파일 삭제</button>
                    </div>
                </div>
                <div class="fileAddDiv">
                <div class="album" style="display: none;">
                    <div id="image_container"></div>
                </div>
                </div>
            </div>

            <div id="origImg">
                <span th:if="${file.filename == 'NoInImage'}"></span>
                <span th:unless="${file.filename == 'NoInImage'}">
                    <div class="album">
                    <div id="origImage_container">
                        <img th:each="im : ${fileList}" th:src="@{'/files/' + ${im.filename}}" alt="Selected Image"/>
                        <input type="hidden" th:each="im : ${fileList}" th:value="@{'/files/' + ${im.filename}}" name="deleteFile" />
                    </div>
                    </div>
                </span>
            </div>
        </div>
        <div id="deleteFile2">
            <input type="hidden" th:each="im : ${fileList}" th:value="@{'/files/' + ${im.filename}}" name="deleteFile2" />
        </div>
        <div>
            <div id="contentsLine" th:utext="${programInfo.contents}" style="display:none"/>
            <textarea class="summernote" rows="5" id="contents" name="contents">
            </textarea>
        </div>
        <button type="submit" class="button button--shikoba button--text-medium button--round-l button--inverted"><span>수정하기</span></button>
    </form>
</div>
<script>
    $(document).ready(function() {
        $('.summernote').summernote({
            tabsize: 2,
            placeholder: '프로그램 상세정보를 입력해 주세요',
            lang: "ko-KR",
            height: 500,
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['fontname', ['fontname']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture']],
                ['view', ['help']],
            ]
        });
    });
</script>
<script th:inline="javascript">
var programInfo = /*[[${programInfo}]]*/ null;
var fileList = /*[[${fileList}]]*/ null;
var bookingCount = /*[[${bookingCount}]]*/ 0;
var dateTime = /*[[${dateTime}]]*/ null;
var viewTime = /*[[${viewTime}]]*/ null;
const userAddr = /*[[${userAddr}]]*/ null;
if(fileList === null) {document.getElementById("deleteAllFile").style.display = "none";}

let conLine = document.getElementById("contentsLine");
let con = document.getElementById("contents");
con.textContent = conLine.innerText;
$('.summernote').summernote('code', [[${programInfo.contents}]]);

//무제한 체크
if(programInfo.peopleNum === -1){
    document.getElementById("peopleChBox").checked = true;
    document.getElementById("peopleNum").style.display = "none";
}

//disabled 변경
if(bookingCount > 0){
    document.getElementById("drop").disabled = true;
    document.getElementById("offline").disabled = true;
    document.getElementById("online").disabled = true;
    document.getElementById("startDate").disabled = true;

    var inputDateTime = document.querySelectorAll('input[id*="input_"]');

    for(let i=0; i<viewTime.length; i++){
        for(let j=0; j<dateTime.length; j++){
            if(viewTime[i].viewingDate === dateTime[j].viewingDate && viewTime[i].viewingTime === dateTime[j].viewingTime){
                let resultDate = dateTime[j].viewingDate + 'T' + dateTime[j].viewingTime;
                console.log("same: "+resultDate);
                for(let k=0; k<inputDateTime.length; k++){
                    if(resultDate === inputDateTime[k].value){
                        let reId = inputDateTime[k].id;
                        let parts = reId.split('_');
                        let resultNum = parts[1];
                        console.log("re: "+resultNum);
                        document.getElementById("button_"+resultNum).disabled = true;
                        document.getElementById("input_"+resultNum).disabled = true;
                    }
                }
            }
        }

    }
}

var programPlace = programInfo.place;
let words = programPlace.split(',');
words = words.map(element => element.trim());
var placeResult='';
for(let i=0; i<words.length-1; i++){
    placeResult += words[i];
}
document.getElementById("address").value = placeResult;
document.getElementById("detailAddress").value = words[words.length-1];

if (programInfo !== null) {
    const type = programInfo.type;
    if(type === "offline"){
         document.getElementById("offline").checked = true;
         document.getElementById("on").style.display = "none";
         document.getElementById("inWay").disabled = true;
         document.getElementById("way").style.display = "none";
         if(programInfo.seatingChart === null){
            document.getElementById("isNotSeatColSelect").style.display = "inline";
            document.getElementById("isSeatColSelect").style.display = "none";
            document.getElementById("deleteChart").style.display = "none";
         }else{
            document.getElementById("isNotSeatColSelect").style.display = "none";
            document.getElementById("isSeatColSelect").style.display = "inline";
            document.getElementById("deleteChart").style.display = "inline";
         }
    }else{
        document.getElementById("online").checked = true;
        document.getElementById("off").style.display = "none";
        document.getElementById("isNotSeatColSelect").style.display = "none";
        document.getElementById("isSeatColSelect").style.display = "none";
        document.getElementById("deleteChart").style.display = "none";
    }
}

var people = document.getElementById("peopleNum");
if(programInfo.seatCol !== null){
    people.readOnly=true;
    people.disabled = true;
}
if(programInfo.peopleNum === -1){
    people.value = "무제한";
}else{
    people.value = programInfo.peopleNum;
}

var selectElement = document.getElementById("drop");
var optionElements = selectElement.getElementsByTagName("option");
let html;

if (programInfo.target === "all") {
    optionElements[0].selected = true; // "제한없음" 옵션을 선택
} else if (programInfo.target === "area") {
    optionElements[1].selected = true; // "지역" 옵션을 선택
    if(programInfo.targetDetail!==null){
        let addr = userAddr.split(' ', 2);
        let addr1 = addr[0];
        let addr2 = addr[1];

        html = `<select id="targetDetail" name="targetDetail"><option value='${addr1}'>${addr1}</option><option value='${addr1} ${addr2}'>${addr2}</option></select>`;

        const detailDiv = document.getElementById("detail");
        detailDiv.innerHTML = html;

        const selectedValue = programInfo.targetDetail;

        // select 요소를 찾아옵니다.
        const targetDetailSelect = document.getElementsByName('targetDetail')[0];

        // select 요소의 option들을 반복하여 원하는 option을 선택합니다.
        for (let i = 0; i < targetDetailSelect.options.length; i++) {
            if (targetDetailSelect.options[i].value === selectedValue) {
                targetDetailSelect.selectedIndex = i;
                break;
            }
        }
        const detailTarget = document.getElementById("targetDetail");
         /*detailTarget.style.height = '1.7rem';
         detailTarget.style.width = '4.75rem';*/
    }
} else if(programInfo.target === "etc") {
    optionElements[2].selected = true; // "지역" 옵션을 선택
    if(programInfo.targetDetail!==null){
         html = '<input type=text id="targetDetail" name="targetDetail">';
         const detailDiv = document.getElementById("detail");
         detailDiv.innerHTML = html;

        const detailTarget = document.getElementById("targetDetail");
         detailTarget.value = programInfo.targetDetail;
         detailTarget.style.display="block";
         detailTarget.style.marginLeft = '9.34rem';
         detailTarget.style.marginTop = '0.5rem';
    }
}

if(bookingCount > 0){
    const detailTarget = document.getElementById("targetDetail");
    if(detailTarget!==null){
        detailTarget.disabled = true;
    }
}

    function displaySelectedImage(event) {
        var changeImg = document.querySelector("div#image_container");
        changeImg.innerHTML = "";

        const origImg = document.querySelector("div#origImg");
        if(origImg.style.display='block'){
            origImg.style.display='none';
        }

        var reader;
        var lengthImg = event.target.files.length;
        for(let i=0; i<lengthImg; i++){
            reader = new FileReader();
            reader.onload = function(event) {
                var img = document.createElement("img");
                img.setAttribute("src", event.target.result);
                document.querySelector("div#image_container").appendChild(img);
            };
            reader.readAsDataURL(event.target.files[i]);
        }
        var leftBtn = document.querySelector(".previous");
        var rightBtn = document.querySelector(".next");
        var album = document.querySelector(".album");
        var choose = document.querySelector(".custom-file-label");

        if(lengthImg > 0) {
            document.getElementById("deleteAllFile").style.display = "block";
            leftBtn.style.display = "inline";
            rightBtn.style.display = "inline";
            rightBtn.style.disabled = false;
            album.style.display = "block";
            choose.style.display = "none";
        }
    }

    function deleteAll() {
        var changeImg = document.querySelector("div#image_container");
        changeImg.innerHTML = "";
        var fileInput = document.getElementById('customFile');
        fileInput.value = '';

        var changeImg2 = document.querySelector("div#origImg");
        changeImg2.innerHTML = "";
        //changeImg2.style.display = "none";
    }

    function openPopup(){
        var bookingCount = /*[[${bookingCount}]]*/ 0;
        if(bookingCount > 0){
            alert("수정이 불가합니다.");
        }
        else{
        const popup = window.open("/business/program/updateSeat", "좌석배치도", "width=700px, height=900px");

        popup.onload = function() {
            // 자식 창의 요소에 접근
            var programInfoP = /*[[${programInfo}]]*/ null;
            const updateSeatElement = popup.document.getElementById("updateSeat");
            const updateSeat = popup.document.getElementById("seat");
            const updateSeatRow = popup.document.getElementById("seatRow");

            let seatArray = new Array();
            let ht = "";
            const scDiv = popup.document.getElementById("chart");
            if (programInfoP !== null) {
                var sCol = programInfoP.seatCol;
                updateSeat.value = sCol;
                seatArray = JSON.parse(programInfoP.seatingChart);

                if(seatArray != null){
                let seatNum = 1;
                let num = 0;
                let exNum = 0;

                for (let i = 0; i < seatArray.length; i++) {
                    if(num % sCol === 0) {
                        ht += "<div class='row justify-content-center'>"
                    }
                    if(seatArray[i]){
                        ht += "<button class='seatBtn' style='background-color: #83A783'>" + seatNum + "</button>";
                        seatNum++;
                    }
                    else {
                        ht += "<button class='seatBtn' style='background-color: rgb(215, 215, 215);'>"+ seatNum +"</button>";
                        seatNum++;
                    }
                    num++;
                    if(num % sCol === 0) {
                        ht += "</div>";
                        exNum++;
                    }
                }
                updateSeatRow.value = exNum;
                scDiv.innerHTML = ht;

                let c = popup.document.querySelectorAll(".seatBtn");
                for (let i = 0; i < c.length; i++) {
                    c[i].addEventListener("click",function (i) {
                    if(c[i].style.backgroundColor === "rgb(131, 167, 131)") {
                        c[i].style.backgroundColor = "rgb(215, 215, 215)";
                     }
                    else {
                        c[i].style.backgroundColor = "rgb(131, 167, 131)";
                    }
                }.bind(this, i));
                }

                }
            }
    }

    popup.addEventListener("beforeunload", function () {
        let chart = JSON.stringify(popupSeatArr);
        console.log(chart);

        let exSeatCount = 0;
        for(let i=0; i<popupSeatArr.length; i++){
            if(popupSeatArr[i]===0){ exSeatCount++; }
        }

        document.getElementById("seatingChart").value = chart;
        document.getElementById("seatCol").value = popupSeatCol;

        let result = (popupSeatArr.length - exSeatCount);

        document.getElementById("peopleNum").readOnly = true;
        document.getElementById("peopleNum").disabled = true;
        document.getElementById('peopleNum').style.display = "inline";
        document.getElementById("peopleNum").value = result;
        document.getElementById("peopleChBox").checked = false;
        document.getElementById('deleteChart').style.display = "inline";
        writeNum(result);
    });
    }
    }
    function popupSeat(arr, col) {
        popupSeatArr = arr;
        popupSeatCol = col;
    }

    function writeNum(num){
        if(num !== -5){
            document.getElementById('peopleNum').value = num;
        }else{
        var bookingCount = /*[[${bookingCount}]]*/ 0;
        let value = document.getElementById('peopleNum').value;

        if(value < bookingCount){
            alert(bookingCount+"이상의 숫자를 입력해주세요.");
            document.getElementById('peopleNum').value = bookingCount;
        }
        }
    }

  function showArea() {
    if(bookingCount > 0){
        alert("신청자가 존재하므로 변경이 불가능합니다.");
        var selectElement = document.getElementById("drop");
        var selectValue = selectElement.options[selectElement.selectedIndex].value;
        var optionElements = selectElement.getElementsByTagName("option");
        if (selectValue === "제한없음") {
            optionElements[1].selected = true; // "제한없음" 옵션을 선택
        } else if (selectValue === "지역") {
            optionElements[0].selected = true; // "지역" 옵션을 선택
        }
    }

    const drop = document.getElementById("drop");
    const detailDiv = document.getElementById("detail");
    let html;

    if(drop.selectedIndex === 1) {
      let addr = userAddr.split(' ', 2);
      let addr1 = addr[0];
      let addr2 = addr[1];

      html = `<select id="targetDetail" name="targetDetail"><option value='${addr1}'>${addr1}</option><option value='${addr1} ${addr2}'>${addr2}</option></select>`;
    }
    else if(drop.selectedIndex === 2) {
      html = '<input type=text id="targetDetail" name="targetDetail">';
    }
    else
      html = "";

    detailDiv.innerHTML = html;

const targetDetail = document.getElementById("targetDetail");
    if(drop.selectedIndex === 1){

    } else if(drop.selectedIndex === 2){
        if(targetDetail !== null){
        targetDetail.style.display="block";
        targetDetail.style.marginLeft = '9.34rem';
        targetDetail.style.marginTop = '0.5rem';
    }
    }

  }
</script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src="/js/updateProgram.js?ver=1.4"></script>
<script type="text/javascript" src="/js/nav.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>