<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/programInfo.css}" href="../css/programInfo.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>
<div th:replace="/layout/nav.html :: nav"></div>
<div class="container" style="max-width: 1000px">
    <div class="row programInfoDiv">
        <div class="programImgDiv col-3">
            <span th:if="${file.filename == 'NoInImage'}"><p>-</p></span>
            <span th:unless="${file.filename == 'NoInImage'}">
                <img th:each="im : ${fileList}" th:src="@{'/files/' + ${im.filename}}" title=${im.origfilename}/>
            </span>
        </div>
        <div class="programTextDiv col">
            <div>
                <span class="badge bg-secondary" th:text="${programInfo.type}"></span>
            </div>
            <h2 th:text="${programInfo.title}"></h2>
            <table class="table table-borderless">
                <tr>
                    <th style="width: 15%">대상</th>
                    <td th:text="${programInfo.target} == '제한없음'? ${programInfo.target} : ${programInfo.targetDetail}"></td>
                </tr>
                <tr>
                    <th>장소</th>
                    <td th:text="${programInfo.place}"></td>
                </tr>
                <tr>
                    <th>모집인원</th>
                    <td th:text="${programInfo.peopleNum} == -1? '무제한' : ${programInfo.peopleNum} + '명'"></td>
                </tr>
                <tr>
                    <th>신청기간</th>
                    <td th:text="${programInfo.startDate} + ' ~ ' + ${programInfo.endDate}"></td>
                </tr>
                <tr>
                    <th>문의</th>
                    <td th:text="${programInfo.userPhone}"></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="row programDateDiv rounded-2">
            <div class="col" style="padding-right: 20px">
                <div style="margin-bottom: 5px">
                    <i class="bi bi-calendar4-event"></i>
                    <h5>날짜 선택</h5>
                </div>
                <ul id="selectDate" class="list-group">
                    <li class="list-group-item" th:each="i, viewing: ${programViewing}" th:if="${viewing.index == 0||(viewing.index > 0 && programViewing[viewing.index].viewingDate != programViewing[(viewing.index)-1].viewingDate)}" onclick="selectedDate(this.innerText)" th:text="${i.viewingDate}"></li>
                </ul>
            </div>
            <div class="col" style="padding-left: 20px; border-left: solid #c9c9c9 1px">
                <div style="margin-bottom: 5px">
                    <i class="bi bi-clock"></i>
                    <h5>시간 선택</h5>
                </div>
                <ul id="selectTime" class="list-group"></ul>
            </div>
            <div id="appDiv">
                <div th:if="${#dates.createToday().compareTo(programInfo.startDate) >= 0} and ${programInfo.endDate.compareTo(#dates.createToday()) >= 0} and !${#authorization.expression('hasRole(''' + 'BIZ' + ''')')}" class="row justify-content-end" style="padding-right: 10px; padding-top: 20px">
                    <div class="col" id="peopleCount" th:if="${programInfo.peopleNum} != -1"></div>
                    <button class="col-3 btn rounded-2" type="button" th:a="${#authorization.expression('isAuthenticated()')}" th:s="${programInfo.programNum}" onclick="openPopup(this.getAttribute('s'), this.getAttribute('a'))">신청하기</button>
                </div>
            </div>
        </div>
    </div>

    <div class="infoMenu">
        <div><h5 class="activeDiv">상세정보</h5></div>
        <div><h5>Q&A</h5></div>
    </div>
    <div id="programContents">
        <div th:utext="${programInfo.contents}"></div>
    </div>

    <hr>
    <div th:if="${programInfo.type == '오프라인'}">
        <h5>장소</h5>
        <div id="map" style="width:400px; height:300px;"></div>
    </div>

    <button th:onclick="|location.href='@{/business/program/update/{programNum}(programNum=${programInfo.programNum})}'|" type="button">수정</button>
    <button th:onclick="|location.href='@{/program/{programNum}(programNum=${programInfo.programNum})}/formEdit'|" type="button">신청폼 수정</button>
</div>
<!-- <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=@&libraries=services"></script>
<script th:inline="javascript">
    const p = [[${programInfo.place}]];
    let place = p.split(',', 1);

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();

    // 주소로 좌표를 검색합니다
    geocoder.addressSearch(place, function(result, status) {

        // 정상적으로 검색이 완료됐으면
        if (status === kakao.maps.services.Status.OK) {

            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

            // 결과값으로 받은 위치를 마커로 표시합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: coords
            });
            marker.setMap(map);

            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
            map.setCenter(coords);
        }
    });
</script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script th:inline="javascript">

    $(document).ready(function() {
        $(".infoMenu>div>h5").click(function() {
            $(".infoMenu>div>h5").removeClass("activeDiv");
            $(this).addClass("activeDiv");
        });

        $("#selectDate > li").click(function() {
            $("#selectDate > li").removeClass("activeli");
            $(this).addClass("activeli");
        });
    });

    let sDate;
    let sTime;

    function selectedDate(date) {
        sDate = date;
        const u = document.getElementById("selectTime");
        u.innerText = "";
        const list = [[${programViewing}]];
        for (let i = 0; i < list.length; i++) {
            if(date == list[i].viewingDate) {
                let tt = document.createElement("li");
                tt.className = "list-group-item";
                tt.innerText = list[i].viewingTime;
                tt.onclick = function selectedTime() {
                    sTime = this.innerText;
                };
                u.appendChild(tt);
            }
        }
        if([[${#dates.createToday().compareTo(programInfo.startDate) >= 0} and ${programInfo.endDate.compareTo(#dates.createToday()) >= 0}]])
            u.addEventListener("click", showPeopleCount);

        $("#selectTime > li").click(function() {
            $("#selectTime > li").removeClass("activeli");
            $(this).addClass("activeli");
        });
    }

    function openPopup(num, a) {
        if (a === "true") {
            if (sDate == null) {
                alert("날짜를 선택해주세요.");
            } else if (sTime == null) {
                alert("시간을 선택해주세요.");
            } else {
                let url = "/booking/" + num;
                let width;
                if([[${chSC}]])
                    width = "1025px";
                else
                    width = "545px";

                window.open(url, "예약", `width=${width}, height=535px`);
            }
        } else {
            const answer = confirm("로그인이 필요합니다.")
            if (answer)
                location.href = "/login";
        }
    }

    function selectedProgramInfo(t) {
        if (t === "date")
            return sDate;
        else if (t === "time")
            return sTime;
        else if (t === "title")
            return [[${programInfo.title}]];
        else if (t === "peopleNum")
            return [[${programInfo.peopleNum}]];
        else if(t === "endDate")
            return [[${programInfo.endDate}]];
    }

    function showPeopleCount() {
        let iHtml;
        if ([[${programInfo.peopleNum}]] !== -1) {
            fetch('/program/peopleCount', {
                method: "post",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    "programNum": [[${programInfo.programNum}]],
                    "viewingDate": sDate,
                    "viewingTime": sTime
                })
            }).then((r) => {
                return r.json();
            }).then((r) => {
                let count = JSON.parse(r);
                if ([[${programInfo.peopleNum}]] === count) {
                    iHtml = "<span class='badge bg-secondary'>인원 마감</span>";
                } else
                    iHtml = "<span>(잔여 " + ([[${programInfo.peopleNum}]] - count) + "명)</span>";
                document.getElementById("peopleCount").innerHTML = iHtml;
            })
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

</body>
</html>