<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="/layout/nav.html :: nav"></div>
<div class="container" style="max-width: 1000px">
    <p th:text="|구분 : ${programInfo.type}|"></p>
    <p th:text="|프로그램명 : ${programInfo.title}|"></p>
    <p th:text="|장소 : ${programInfo.place} |"></p>
    <p th:text="|대상 : ${programInfo.target}|"></p>
    <p>모집인원: <span th:text="${programInfo.peopleNum} == -1? '무제한' : ${programInfo.peopleNum} "></span></p>
    <p th:text="|신청기간 : ${programInfo.startDate} ~ ${programInfo.endDate}|"></p>

    <div>
        <strong>파일 : </strong>
        <span th:if="${file.filename == 'NoInImage'}"><p>-</p></span>
        <span th:unless="${file.filename == 'NoInImage'}">
            <img th:each="im : ${fileList}" th:src="@{'/files/' + ${im.filename}}" title=${im.origfilename} width="200"/>
        </span>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <ul id="selectDate" class="list-group" th:each="i, viewing: ${programViewing}" th:if="${viewing.index == 0||(viewing.index > 0 && programViewing[viewing.index].viewingDate != programViewing[(viewing.index)-1].viewingDate)}">
                    <li class="list-group-item" ><a onclick="selectedDate(this.innerText)" th:text="${i.viewingDate}"></a></li>
                </ul>
            </div>
            <div class="col">
                <ul id="selectTime" class="list-group">
                </ul>
            </div>
            <div class="col"><button type="button" th:s="${programInfo.programNum}" onclick="openPopup(this.getAttribute('s'))">신청하기</button></div>
        </div>
    </div>

    <hr>
    <div id="programContents">
        <h5>상세정보</h5>
        <div th:utext="${programInfo.contents}"></div>
    </div>

    <button th:onclick="|location.href='@{/business/program/update/{programNum}(programNum=${programInfo.programNum})}'|" type="button">수정</button>
    <button th:onclick="|location.href='@{/business/program}'|" type="button">목록</button>
</div>
<script th:inline="javascript">
    let sDate;
    let sTime;

    function selectedDate(date) {
        sDate = date;
        let u = document.getElementById("selectTime");
        u.innerText = "";
        const list = [[${programViewing}]];
        for (let i = 0; i < list.length; i++) {
            if(date == list[i].viewingDate) {
                let tt = document.createElement("li");
                let a = document.createElement("a")
                tt.className = "list-group-item";
                a.innerText = list[i].viewingTime;
                a.onclick = function selectedTime() {
                    sTime = this.innerText;
                };
                tt.appendChild(a);
                u.appendChild(tt);
            }
        }
    }
    function openPopup(num) {
        let url = "/booking/"+ num;
        window.open(url, "예약", "width=1000px, height=600px");
    }

    function selectedProgramInfo(t) {
        if(t === "date")
            return sDate;
        else if(t === "time")
            return sTime;
        else if(t === "title")
            return [[${programInfo.title}]];
        else if(t==="peopleNum")
            return [[${programInfo.peopleNum}]];
    }
</script>
</body>
</html>