<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="/layout/nav.html :: nav"></div>
<div class="container" style="max-width: 1000px">
    <p th:text="|구분 : ${programInfo.type}|"></p>
    <p th:text="|프로그램명 : ${programInfo.title}|"></p>
    <p th:text="|장소 : ${programInfo.place} |"></p>
    <p th:text="|대상 : ${programInfo.target}|"></p>
    <p>모집인원: <span th:text="${programInfo.peopleNum} == -1? '무제한' : ${programInfo.peopleNum} "></span></p>
    <p th:text="|신청기간 : ${programInfo.startDate} ~ ${programInfo.endDate}|"></p>

    <div>
        <strong>파일 : </strong>
        <span th:if="${file.filename == 'NoInImage'}"><p>-</p></span>
        <span th:unless="${file.filename == 'NoInImage'}">
            <img th:each="im : ${fileList}" th:src="@{'/files/' + ${im.filename}}" title=${im.origfilename} width="200"/>
        </span>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <ul id="selectDate" class="list-group" th:each="i, viewing: ${programViewing}" th:if="${viewing.index == 0||(viewing.index > 0 && programViewing[viewing.index].viewingDate != programViewing[(viewing.index)-1].viewingDate)}">
                    <li class="list-group-item" ><a onclick="selectedDate(this.innerText)" th:text="${i.viewingDate}"></a></li>
                </ul>
            </div>
            <div class="col">
                <ul id="selectTime" class="list-group"></ul>
            </div>
            <div class="col" id="appDiv">
                <div th:if="${#dates.createToday().compareTo(programInfo.startDate) >= 0} and ${programInfo.endDate.compareTo(#dates.createToday()) >= 0}">
                    <button type="button" th:s="${programInfo.programNum}" onclick="openPopup(this.getAttribute('s'))">신청하기</button>
                    <div id="peopleCount" th:if="${programInfo.peopleNum} != -1"></div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div id="programContents">
        <h5>상세정보</h5>
        <div th:utext="${programInfo.contents}"></div>
    </div>

    <hr>
    <div th:if="${programInfo.type == '오프라인'}">
        <h5>장소</h5>
        <div id="map" style="width:400px; height:300px;"></div>
    </div>

    <button th:onclick="|location.href='@{/business/program/update/{programNum}(programNum=${programInfo.programNum})}'|" type="button">수정</button>
    <button th:onclick="|location.href='@{/program/{programNum}(programNum=${programInfo.programNum})}/formEdit'|" type="button">신청폼 수정</button>
    <button th:onclick="|location.href='@{/business/program}'|" type="button">목록</button>
</div>
<!-- <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=@&libraries=services"></script>
<script th:inline="javascript">
    const p = [[${programInfo.place}]];
    let place = p.split(',', 1);

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();

    // 주소로 좌표를 검색합니다
    geocoder.addressSearch(place, function(result, status) {

        // 정상적으로 검색이 완료됐으면
        if (status === kakao.maps.services.Status.OK) {

            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

            // 결과값으로 받은 위치를 마커로 표시합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: coords
            });
            marker.setMap(map);

            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
            map.setCenter(coords);
        }
    });
</script> -->
<script th:inline="javascript">
    let sDate;
    let sTime;

    function selectedDate(date) {
        sDate = date;
        const u = document.getElementById("selectTime");
        u.innerText = "";
        const list = [[${programViewing}]];
        for (let i = 0; i < list.length; i++) {
            if(date == list[i].viewingDate) {
                let tt = document.createElement("li");
                let a = document.createElement("a")
                tt.className = "list-group-item";
                a.innerText = list[i].viewingTime;
                a.onclick = function selectedTime() {
                    sTime = this.innerText;
                };
                tt.appendChild(a);
                u.appendChild(tt);
            }
        }
        if([[${#dates.createToday().compareTo(programInfo.startDate) >= 0} and ${programInfo.endDate.compareTo(#dates.createToday()) >= 0}]])
            u.addEventListener("click", showPeopleCount);
    }
    function openPopup(num) {
        if (sDate == null) {
            alert("날짜를 선택해주세요.");
        }
        else if(sTime == null) {
            alert("시간을 선택해주세요.");
        }
        else {
            let url = "/booking/" + num;
            window.open(url, "예약", "width=1000px, height=600px");
        }
    }

    function selectedProgramInfo(t) {
        if(t === "date")
            return sDate;
        else if(t === "time")
            return sTime;
        else if(t === "title")
            return [[${programInfo.title}]];
        else if(t==="peopleNum")
            return [[${programInfo.peopleNum}]];
    }

    function showPeopleCount() {
        let iHtml;
        if([[${programInfo.peopleNum}]] !== -1) {
            fetch('/program/peopleCount', {
                method: "post",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    "programNum": [[${programInfo.programNum}]],
                    "viewingDate": sDate,
                    "viewingTime": sTime
                })
            }).then((r) => {
                return r.json();
            }).then((r) => {
                let count = JSON.parse(r);
                if([[${programInfo.peopleNum}]] === count) {
                    iHtml = "<span class='badge bg-secondary'>인원 마감</span>";
                }
                else
                    iHtml = "<span>" + count + "/" + [[${programInfo.peopleNum}]] + "</span>";
                document.getElementById("peopleCount").innerHTML = iHtml;
            })
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>