<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/seatingChart.css}" href="../css/seatingChart.css" rel="stylesheet">
    <link th:href="@{/css/bookingCalendar.css}" href="../css/bookingCalendar.css" rel="stylesheet">
</head>
<body>
<div id="enterForm">
    <p>신청서 작성</p>
    <form id="userResponse">
        <div id="formContent">
        </div>
    </form>
<script type="text/javascript" src="/js/changeFormContent.js?ver=1.2"></script>
<script th:inline="javascript">
    var programInfo = /*[[${ProgramForm}]]*/ {};
    if(programInfo !== null){
        var div = document.getElementById('formContent');
        div.innerHTML = programInfo;
        returnResult();
    }
</script>
    <input type="hidden" id="program">
    <button type="button" id="formPage">다음</button>
</div>

<div>
<div id="viewingDate" style="display: none">
    <div class="bookingSe">시간/날짜 선택</div>
    <div class="vDiv">
        <div id="sMonth" class="input-group mb-3">
            <div class="btn btn-outline-secondary" onclick="prevMonth()"><img src="/img/icon-arrow-64.png"></div>
            <span id="yearAndDate" class="form-control"></span>
            <div class="btn btn-outline-secondary" onclick="nextMonth()"><img src="/img/icon-arrow-63.png"></div>
        </div>
        <table class="table table-borderless">
            <thead class="table-light">
                <tr>
                    <th style="width: 14%">일</th>
                    <th style="width: 14%">월</th>
                    <th style="width: 14%">화</th>
                    <th style="width: 14%">수</th>
                    <th style="width: 14%">목</th>
                    <th style="width: 14%">금</th>
                    <th style="width: 14%">토</th>
                </tr>
            </thead>
            <tbody id="calendar"></tbody>
        </table>
        <div id="timeDiv"></div>
        <div id="appCount"></div>
    </div>
</div>

<div id="selectSeat" style="display: none;">
    <div class="bookingSe">좌석 선택</div>
    <div class="sDiv">
        <div id="cal">
            <img src="/img/icon-calendar.png">
            <span id="calText"></span>
        </div>
        <div style="height: 400px;" id="scrollDiv">
            <div id="stage" style="width: 100%"></div>
            <div id="chart" class="container" style="padding: 0px"></div>
        </div>
        <div id="seatB">
            <div><div class="seatBtn" style="background-color: #e5e5e5"></div><span>선택 불가</span></div>
            <div><div class="seatBtn" style="background-color: #83A783"></div><span>선택 가능</span></div>
            <div><div class="seatBtn activeSeatBtn"></div><span>선택 좌석</span></div>
        </div>
    </div>
</div>

<div id="checkInfo" style="display: none;">
    <div class="bookingSe">신청 정보 확인</div>
    <div class="bDiv">
        <div id="bookingInfo">
            <p id="chTitle"></p>
            <table class="table">
                <tbody>
                    <tr>
                        <th>일시</th>
                        <td id="chDate"></td>
                    </tr>
                    <tr id="chSeat" style="display: none">
                        <th>좌석</th>
                        <td id="chSeatNum"></td>
                    </tr>
                    <tr>
                        <th>취소</th>
                        <td id="chCancel"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <form>
            <input type="hidden" id="seatNum" name="seatNum">
            <input type="hidden" id="selectedViewingDate" name="viewingDate">
            <input type="hidden" id="selectedViewingTime" name="viewingTime">
            <input type="hidden" id="userResponseForm" name="programResponse">
        </form>
        <button class="btn btn-secondary" type="button" onclick="sendBookingData()">신청하기</button>
    </div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<script th:inline="javascript">
    let d;
    let t;
    let title;
    let peopleNum;
    let sDate;
    let vDate = new Array();
    let acDate;
    let acTime;
    let endDate;

    window.addEventListener("load", function () {
        d = window.opener.selectedProgramInfo("date");
        t = window.opener.selectedProgramInfo("time");
        title = window.opener.selectedProgramInfo("title");
        peopleNum = window.opener.selectedProgramInfo("peopleNum");
        endDate = window.opener.selectedProgramInfo("endDate");

        acDate = d;
        acTime = t;

        let sYear = d.split("-")[0];
        let sMonth = d.split("-")[1];
        let sDay = d.split("-")[2];

        sMonth -= 1;

        document.getElementById("program").value = window.location.pathname.substring(9);

        let btn = document.getElementById("formPage");
        btn.addEventListener("click", function () {
            //답변 완료 시 실행
            var result = getResponse();
            if(result === 0){
                window.alert("질문에 모두 답변해주세요.");
            } else {
                document.getElementById("userResponseForm").value = JSON.stringify(result);
                document.getElementById("enterForm").style.display = "none";
                document.getElementById("viewingDate").style.display = "block";
                sDate = new Date(sYear, sMonth, sDay);
                viewingType();
                createCalendar();
                showTime(d);
                addTimeBtnClass();
                timeBtnEvent(d, t);
            }
        })
    })

    function prevMonth() {
        sDate = new Date(sDate.getFullYear(), sDate.getMonth() - 1, sDate.getDate());
        createCalendar();
    }
    function nextMonth() {
        sDate = new Date(sDate.getFullYear(), sDate.getMonth() + 1, sDate.getDate());
        createCalendar();
    }
    function createCalendar() {
        let firstDay = new Date(sDate.getFullYear(), sDate.getMonth(), 1).getDay(); //4
        let lastDate = new Date(sDate.getFullYear(), sDate.getMonth() + 1, 0).getDate(); //30
        const calendar = document.getElementById("calendar");
        let cnt = 0;
        let m = sDate.getMonth() + 1;
        m = m < 10 ? "0" + m : m;
        let dateStr = sDate.getFullYear() + "-" + m + "-";

        document.getElementById("yearAndDate").innerText = sDate.getFullYear() + "년 " + (sDate.getMonth() + 1 ) + "월";

        let tr = "";
        for (let i = 0; i < firstDay; i++) {
            tr += "<td></td>"
            cnt++;
        }
        for (let i = 1; i <= lastDate ; i++) {
            let d = i < 10 ? dateStr + "0" + i : dateStr + i;
            if(cnt % 7 === 0)
                tr += "<tr>";

            if(vDate.includes(d)) {
                if(d === acDate)
                    tr += "<td><button type='button' class='dayBtn rounded activeBtn' onclick='showTime(this.value)' value='" + d + "'>" + i + "</button></td>";
                else
                    tr += "<td><button type='button' class='dayBtn rounded' onclick='showTime(this.value)' value='" + d + "'>" + i + "</button></td>";
            }
            else
                tr += "<td>" + i + "</td>";

            cnt++;
            if(cnt % 7 === 0)
                tr += "</tr>"
        }
        calendar.innerHTML = tr;


        $(".dayBtn").click(function() {
            $(".dayBtn").removeClass("activeBtn");
            $(this).addClass("activeBtn");
        });

    }
    function viewingType () {
        const viewing = [[${programViewing}]];

        for (let i = 0; i < viewing.length; i++) {
            vDate.push(viewing[i].viewingDate);
        }
    }
    let dt;

    function showTime(date) {
        const viewing = [[${programViewing}]];
        const timeDiv = document.getElementById("timeDiv");
        timeDiv.innerHTML = "";
        for (let i = 0; i < viewing.length; i++) {
            if(viewing[i].viewingDate === date) {
                dt = date;
                timeDiv.innerHTML += "<button type='button' class='timeBtn rounded-pill' value='" + viewing[i].viewingTime + "' onclick='timeBtnEvent(dt, this.value)'>" + viewing[i].viewingTime + "</button>"
            }
        }

        $("#timeDiv > button").click(function() {
            $("#timeDiv > button").removeClass("activeBtn");
            $(this).addClass("activeBtn");
        });
    }
    let ssDate;
    let ssTime;
    function timeBtnEvent(date, time) {
        let programNum = document.getElementById("program").value;
        ssDate = date;
        ssTime = time;

        document.getElementById("calText").innerText = `${date} ${time}`

        fetch(`/booking/seat`, {
            method: "post",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                "programNum": programNum,
                "viewingDate": date,
                "viewingTime": time
            })
        }).then((r) => {
            return r.json();
        }).then((r) => {
            showAppCount(r.bookingCount);

            if(r.seatingChart != null) {
                bookingSeatList = r.bookingSeatList;
                document.getElementById("selectSeat").style.display = "block";
                createSeatingChart(JSON.parse(r.seatingChart), r.seatCol);
            }
            else {
                document.getElementById("seatNum").disabled = true;
                document.getElementById("checkInfo").style.display = "block";
                showBookingInfo();
            }
        });
    }
    let bookingSeatList;
    function createSeatingChart(seatingChart, sCol) {
        const scDiv = document.getElementById("chart");
        let seatNum = 1;
        let ht = "";
        let num = 0;

        for (let i = 0; i < seatingChart.length; i++) {
            if(num % sCol === 0) {
                if(sCol < 19)
                    ht += "<div class='row justify-content-center' style='margin: 0px;'>"
                else {
                    ht += "<div class='row' style='margin: 0px;'>"
                    document.getElementById("stage").style.width = "200%"
                }
            }

            if(seatingChart[i]){
                if(bookingSeatList.includes(seatNum))
                    ht += "<div class='seatBtn' style='background-color: #e5e5e5;'></div>"
                else
                    ht += "<button type='button' class='seatBtn' style='background-color: #83A783;'>" + seatNum + "</button>";
                seatNum++;
            }
            else {
                ht += "<div class='seatBtn' style='background-color: #ffffff;'></div>"
            }

            num++;
            if(num % sCol === 0) {
                ht += "</div>"
            }
        }
        scDiv.innerHTML = ht;

        let qa = scDiv.querySelectorAll("button");
        for (let i = 0; i < qa.length; i++) {
            qa[i].addEventListener("click", (e) => {
                document.getElementById("checkInfo").style.display = "block";
                showBookingInfo(e.target.innerText);
            });
        }

        $(qa).click(function() {
            $(qa).removeClass("activeSeatBtn");
            $(this).addClass("activeSeatBtn");
        });
    }
    function showBookingInfo(seatNum) {
        document.getElementById("chTitle").innerText = title;

        if(bookingSeatList != null) {
            document.getElementById("chSeatNum").innerText = seatNum + "번";
            document.getElementById("chSeat").style = "block";
            document.getElementById("seatNum").value = seatNum;
        }

        document.getElementById("chDate").innerText = ssDate + " " + ssTime;
        document.getElementById("chCancel").innerText = endDate + " 24:00까지"
    }
    function showAppCount(num) {
        const tDiv = document.getElementById("appCount");
        let str = "";

        if(peopleNum !== -1)
            str += "<p>(잔여 " + (peopleNum - num) +"명)</p>";

        tDiv.innerHTML = str;
    }
    function sendBookingData() {
        let programNum = document.getElementById("program").value;
        let data = {
            "viewingDate": ssDate,
            "viewingTime": ssTime,
            "peopleNum":peopleNum,
            "programResponse": document.getElementById("userResponseForm").value
        };

        if(!document.getElementById("seatNum").disabled) {
            data['seatNum'] = document.getElementById("seatNum").value;
        }

        fetch(`/booking/${programNum}`, {
            method: "POST",
            headers: {
                "Content-type": "application/json"
            },
            body: JSON.stringify(data)
        }).then((response) => {
            if (response.ok) {
                alert("신청이 완료되었습니다.");
                opener.location.reload();
                window.close();
            }
            else {
                return response.json();
            }
        }).then((r) => {
            alert(r.message);
        })
    }
    function addTimeBtnClass() {
        const at = document.querySelectorAll(".timeBtn")
        for (let i = 0; i < at.length; i++) {
            if(at[i].value === acTime)
                at[i].classList.add("activeBtn");
        }
    }
</script>
</body>
</html>